{% extends 'base.html' %}

{% block title %}Skystore{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
    <p class="lead">Создать продукт:</p>
    <a href="{% url 'catalog:product_create' %}" class="btn btn-primary btn-lg">Создать</a>
</div>

    <div class="container">
        <div class="row text-center">
            {% if product_list %}
                {% for product in product_list %}
                    {% include "product_card.html" with product=product %}
                {% endfor %}
            {% else %}
                <p class="col-12">Пока нет товаров в каталоге.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
